
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Moirai+One&family=Orbitron&display=swap');
body {
  background-image: url('https://t4.ftcdn.net/jpg/00/48/81/71/360_F_48817195_PBp0JoMwap0hvwJJTOHdO32RjUYeDbjS.jpg');
  background-size: cover;
}

.wrapper {
  width: 70%;
  margin: auto;
  text-align: center;
  position: fixed;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  margin: 20px;
  font-size: 6rem;
  color: whitesmoke;
  text-shadow: 1px 1px black;
}

h2 {
  color: whitesmoke;
  font-size:4rem ;
  font-family: 'Moirai One', cursive;

}

.game-name {
  border: 2px solid whitesmoke;
  padding: 2px;
  border-radius: 2rem;
  margin-top: 8rem;
  border-top: 2px solid #17ffee;
  border-bottom:2px solid #ff1791;
  border-left: 2px solid #17ffee;
  border-right: 2px solid #ff1791;
}

.dice-area {
  margin: 0px 50px;
  text-align: center;
  display: inline-block;
}

p {
  font-size: 2.5rem;
  color: whitesmoke;
  font-family: 'Orbitron', sans-serif;
}

img {
  width: 320px;
  border-radius: 15px;
}

#start-button {
  font-size: 2rem;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 2rem;
  border: none;
  margin-top: 10rem;
  cursor: pointer;
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  background-color: whitesmoke;
  padding: 1rem;
  border: none;
  border-radius: 2rem;
}

.player1 {
  text-shadow: 3px 3px #ff1791;
}

.player2 {
  text-shadow: 3px 3px #17ffee;
}


footer {
  text-align: center;
  margin-top: 10rem;
  color: whitesmoke;
  text-shadow: 1px 1px black;
  position: fixed;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
}
