body {
  background: linear-gradient(to right, #2a9134, #d90429);


}
.wrapper{
  width: 70%;
  margin: auto;
  text-align: center;
}
h1{
  margin: 20px;
  font-size: 6rem;
  color: rgb(208, 214, 218 );
  text-shadow: 1px 1px black;
}

.dice-area{
  margin: 0px 50px;
  text-align: center;
  display: inline-block;
}
p{
  font-size: 2.5rem;
  color: rgb(red, green, blue);
}
img{
  width: 320px;

}


#start-button {
  font-size: 2rem;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 2rem;
  border: none;
  margin-top: 2rem;
}

button{
  background-color: whitesmoke;
  padding: 1rem;
  border: none;
  border-radius:2rem ;

}
